<%= form_for(flea) do |f| %>
  <% if flea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flea.errors.count, "error") %> prohibited this flea from being saved:</h2>

      <ul>
      <% flea.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :skill %>
    <%= f.text_field :skill %>
  </div>

  <div class="field">
    <%= f.label :dog_id %>
    <%= f.select :dog_id, Dog.all.collect {|x| [x.name, x.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
