<p id="notice"><%= notice %></p>

<h1>Circuses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fleas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @circuses.each do |circus| %>
      <tr>
        <td><%= circus.name %></td>
        <td><%= circus.fleas.count %></td>
        <td><%= link_to 'Show', circus %></td>
        <td><%= link_to 'Edit', edit_circus_path(circus) %></td>
        <td><%= link_to 'Destroy', circus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Circus', new_circus_path %>
